.dialog {
  border-radius: 8px;
  color: var(--foreground-color);
  background-color: var(--background-color);
}

.dialog-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block-end: 16px;
}

.dialog-header__title {
  font-size: 1.2em;
}

.dialog-footer {
  display: flex;
  justify-content: flex-end;
}

.dialog-footer__button {
  width: 64px;
  height: 28px;
  border: 2px solid var(--foreground-color);
  border-radius: 4px;
  color: var(--foreground-color);
  background-color: var(--background-color);
  cursor: pointer;
}
