.tabs__button {
  width: 50%;
  height: 28px;
  border: 2px solid transparent;
  border-block-end: none;
  border-start-start-radius: 4px;
  border-start-end-radius: 4px;
  color: var(--foreground-color);
  background-color: var(--background-color);
  cursor: pointer;
}

.tabs__button_selected {
  border-color: var(--foreground-color);
}
