@import '../../App.scss';

#body {
    display: flex;
    max-height: $height100;
}

.twoAndTwo,
.threeAndOneHorizontal {
    flex-flow: row wrap;
}

.threeAndOneVertical {
    flex-flow: column wrap;
}

.twoAndTwo {
    .wrapper {
        width: $width50;
        height: $height50;
        max-height: $height50;
    }
    iframe {
        width: $width50;
        height: $height50;
    }
}

.threeAndOneHorizontal {
    .wrapper {
        width: $width33;
        height: $height50;
        max-height: $height50;
    }
    iframe {
        width: $width100;
        height: $height50;
    }
}

.threeAndOneVertical {
    .wrapper {
        width: $width50;
        height: $height33;
        max-height: $height33;
    }
    iframe {
        width: $width50;
        height: $height100;
    }
}

.fullScreen {
    .wrapper,
    iframe {
        width: $width100;
        height: $height100;
        max-height: $height100;
    }
}

@media screen and (max-width: 992px), screen and (max-height: 576px) {
    #body {
        display: none;
    }
}
