@import '../../App.scss';

#header {
    width: $width100;
    height: $headerHeight;
    display: inline-flex;
}

.headerSection {
    width: $width25;
    height: $headerHeight;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    button {
        width: $buttonWidth;
        height: $buttonHeight;
        padding: 0;
        margin-left: 20px;
        border-radius: 5px;
        border-style: solid;
        font-size: .8em;
        cursor: pointer;
        svg {
            stroke-width: 2px;
        }
    }
}

@media screen and (max-width: 1200px) {
    #header p {
        display: none;
    }
}

@media screen and (max-width: 992px), screen and (max-height: 576px) {
    #header {
        display: none;
    }
}
