#root {
  --background-color: #1f1f28;
  --lighter-background-color: #2a2a37;
  --foreground-color: #c8c093;
  --border-color: #54546d;

  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
}

#root.light {
  --background-color: #e5ddb0;
  --lighter-background-color: #f2ecbc;
  --foreground-color: #43436c;
  --border-color: #8a8980;
}

body {
  margin: 0;
}

svg {
  fill: var(--foreground-color);
  stroke: var(--foreground-color);
  stroke-width: 2px;
}
