body {
  margin: 0;
}

#root {
  --background-color: #1f1f28;
  --border-color: #54546d;
  --foreground-color: #c8c093;

  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: var(--background-color);
}

#root.light {
  --background-color: #e5ddb0;
  --border-color: #8a8980;
  --foreground-color: #43436c;
}

p {
  color: var(--foreground-color);
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

button {
  width: 44px;
  height: 28px;
  padding: 0;
  margin-inline-start: 8px;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  border-color: var(--foreground-color);
  border-radius: 4px;
  background-color: var(--background-color);
}

button.selected {
  border-color: #7e9cd8;
}

svg {
  fill: var(--foreground-color);
  stroke: var(--foreground-color);
  stroke-width: 2px;
}

.selected > svg {
  stroke: #7e9cd8;
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: calc(100% - 50px);
  overflow: hidden;
}

#container.vertical-stack {
  flex-direction: column;
}
