/*******************************/
/* Global variables definition */
/*******************************/
$headerHeight: 38px;
$buttonWidth: 44px;
$buttonHeight: 28px;

$lightColor: #e8e9e8;
$darkColor: #2d2d2d;
$htmlColor: #e34f26;
$cssColor: #264de4;
$jsColor: #f7df1e;

$width100: 100%;
$width50: 50%;
$width33: 33.33%;
$width25: 25%;

$height100: calc(100vh - #{$headerHeight});
$height50: calc((100vh - #{$headerHeight}) / 2);
$height33: calc((100vh - #{$headerHeight}) / 3);
