.panel {
  width: 50%;
  height: 50%;
  box-sizing: border-box;
  border: 1px solid var(--border-color);
}

.panel > div:last-child,
.panel > iframe {
  height: calc(100% - 20px);
  overflow: scroll;
}

.panel > div:first-child {
  display: flex;
  justify-content: space-between;
}

.panel > div:first-child > p {
  width: 64px;
  margin: 0;
  padding: 2px;
  text-align: center;
  border-bottom-left-radius: 8px;
  font-size: 0.8em;
  color: #1f1f28;
}

.panel > div:first-child > button {
  width: 20px;
  height: 20px;
  border: none;
}

.horizontal-stack .panel {
  width: calc(100% / 3);
  height: 50%;
}

.horizontal-stack .panel:last-child {
  width: 100%;
  height: 50%;
}

.vertical-stack .panel {
  width: 50%;
  height: calc(100% / 3);
}

.vertical-stack .panel:last-child {
  width: 50%;
  height: 100%;
}

.panel.full-screen,
.panel:last-child.full-screen {
  width: 100%;
  height: 100%;
}

.panel.hidden {
  display: none;
}

#html {
  background-color: #ff5d62;
}

#css {
  background-color: #7e9cd8;
}

#js {
  background-color: #e6c384;
}

#frame {
  background-color: #98bb6c;
}
